
.DS_Store

Calculator.xcodeproj/project.xcworkspace/contents.xcworkspacedata

Calculator.xcodeproj/project.xcworkspace/xcuserdata/bringel.xcuserdatad/UserInterfaceState.xcuserstate

Calculator.xcodeproj/xcuserdata/bringel.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

Calculator.xcodeproj/xcuserdata/bringel.xcuserdatad/xcschemes/Calculator.xcscheme

Calculator.xcodeproj/xcuserdata/bringel.xcuserdatad/xcschemes/xcschememanagement.plist